/* Fonts */
@font-face {
    font-family: Lato-Bold;
    src: url(../assets/Fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(../assets/Fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(../assets/Fonts/Lato-Light.ttf);
}
/* End of Fonts */

html, body {
    height: 100%;
    margin: 0;
    background-color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.bizzNESTLogoStyle{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.bizzNESTLogoStyle img {
    max-width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logoContainer img {
    width: 200px; /* Adjust size as necessary */
    height: auto;
    margin-left: 62px;
    margin-top: 37px;
}

.pairingBackgroundImage {
    padding-top: 80px; /* Adjust padding to avoid overlapping with the header */
}


.landingBackgroundImage {
    background: url(../assets/HomePageBackground.png) no-repeat center center fixed;
    background-size: cover;
    flex-grow: 1;
}

.pairingBackgroundImage {
    background: url(../assets/pairingimg.png) no-repeat center center fixed;
    background-size: cover;
    flex-grow: 1;
    font-family: Lato-Regular;
}

.pairingBackgroundImage h1 {
    font-family: Lato-Regular;
    text-align: center;
}

.bizzNESTHeader{
    text-align: center;
    font-family: Lato-Bold;
    font-size: 60px;
    margin-top: 125px;
    margin-bottom: 15px;
}

.bizzNESTSubText{
    text-align: center;
    font-family: Lato-Regular;
    font-size: 20px;
    margin: 0px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.buttonMainStyle{
    padding: 30px 65px;
    background-color: #BA2C8E;
    color: white;
    font-family: Lato-Bold;
    border: none;
    font-size: 27px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

.buttonMainStyle:hover{
    background-color: #d12d9d;
}

.modalComponentBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.537);
}

.modalComponentBackgroundReset {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.537);
}

.modalComponentReset{
    background-color: white;
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
    width: 433px;
    border-radius: 6px;
    box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.25);
    border: 1px solid #79C8A3;
}

.cancelButtonStyle{
    border: 2px solid #BA2C8E; 
    background-color: white; 
    border-radius: 3px; 
    font-size: 16px; 
    font-family: Lato-Bold; 
    padding: 8px 36px; 
    color: #BA2C8E;
    cursor: pointer;
}

.resetButtonStyle{
    border: none; 
    background-color: #BA2C8E; 
    border-radius: 3px; 
    font-size: 16px; 
    font-family: Lato-Bold; 
    padding: 8px 36px; 
    color: white;
    cursor: pointer;
}

.resetToggleStyle{
    background-color: #BA2C8E;
    color: white;
    font-family: Lato-Bold;
    font-size: 20px;
    padding: 10px 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.resetToggleStyle:hover{
    background-color: #7a1d5d;
}

.containerForBodyResetModal{
    padding-top: 15px; 
    padding-left: 23px; 
    padding-right: 23px; 
    padding-bottom: 26px; 
    font-family: Lato-Regular; 
    font-size: 20px; 
    text-align: center;
}

.containerHeaderResetModal{
    color: white; 
    background-color: #309C68; 
    font-family: Lato-Bold; 
    font-size: 20px; 
    padding-top: 13px; 
    padding-bottom: 10px; 
    text-align: center;
}

.containerForResetModalButtons{
    display: flex; 
    justify-content: space-evenly; 
    padding-bottom: 25px;
}
.modalComponent{
    background-color: white;
    padding: 30px;
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
    width: 618px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.25);
}

.topModalHeader{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    align-items: center;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
}

.topTextHeader{
    font-family: Lato-Bold;
    font-size: 48px;
    text-align: center;
    margin: 0;
    flex-grow: 1;
}

.subtext {
    text-align: center;
    color: gray;
    margin: 5px 0;
    font-family: Lato-Regular;
}

.closeButtonStyling{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.filterContainer{
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}
.filterContainer1{
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    width: 100%;
}

.hidden{
    display: none;
}

.mainTableContainer {
    width: 100%;
    text-align: center;
    border: solid 2px #309C68;
    border-radius: 5px;
    border-spacing: 0;
}

.tableHeaderStyling {
    font-family: Lato-Regular;
    color: white;
    top: 0;
    position: sticky;
}

.tableHeaderStyling th {
    background-color: #79C8A3;
    padding: 15px; 
    margin: 0; 
}

.tableHeaderStyling th:first-child {
    border-top-left-radius: 3px;
}

.tableHeaderStyling th:last-child {
    border-top-right-radius: 3px;
}

tbody td {
    font-family: Lato-Light;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #79C8A3;
}

.mergedCell div {
    font-family: Lato-Light;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}      

.paginationContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding-left: 8rem;
}

.arrowIconStyle{
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.paginationText{
    font-size: 20px;
    font-family: Lato-Bold;
    padding-left: 10px;
    padding-right: 10px;
}

.paginationAndSave{
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.saveButtonStyle{
    font-size: 20px;
    font-family: Lato-Bold;
    padding: 13px 55px;
    color: white;
    background-color: #309C68;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.saveButtonStyle:hover{
    background-color: #79C8A3;
}

.buttonsAndCheckBoxContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.checkboxContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 5px;
    font-family: Lato-Regular;
    font-size: 13px;
}

.checkboxDiv{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 19px;
    border: none;
    border-radius: 19px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D4D4D4;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 4px;
    bottom: 4px;
    background-color: #FFFFFF;
    transition: .4s;
}

input:checked + .slider {
    background-color: #d12d9d;
}

input:focus + .slider {
    box-shadow: 0 0 1px #FFFFFF;
}

input:checked + .slider:before {
    transform: translateX(16px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 30px;
}
.footerLogo {
    display: flex;
    height: 50px;
}
.footerTextContainer {
    text-align: right;
    
}
.footerText {
    margin: 0;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: Lato-Regular;
    color: #333;
}

.intern-checkbox {
    width: 25px;
    height: 25px;
    appearance: none;
    background-color: #79C8A3;
    border: 2px solid #309C68;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    position: relative;
}

.intern-checkbox:checked {
    background-color: #309C68;
}

.intern-checkbox:checked::after {
    content: '✖';
    color: black;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 2px;
}


.searchbox-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    padding: 1px 8px;
    width: 200px;
    position: relative;
    margin: 0;
}

.searchBox {
    border: none;
    outline: none;
    flex: 1;
    padding: 4px 5px;
}

.search-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #309C68;
}


.buttonSelectStyle {
    width: 144px;
    height: 45px;
    background-color: #BA2C8E;
    color: white;
    font-family: Lato-Bold;
    border-radius: 5px;
    margin: 10px 5px 10px 0px;
    border: none;
    outline: none;
    font-size: 13px;
    cursor: pointer;
}

.buttonDeselectStyle {
    width: 144px;
    height: 45px;
    background-color: white;
    color: #BA2C8E;
    font-family: Lato-Regular;
    border-radius: 5px;
    margin: 10px 5px 10px 0px;
    border: 2px solid #BA2C8E;
    outline: none;
    font-size: 13px;
    cursor: pointer;
}


.dropdownButton {
    background-color: #ffff; 
    border: 1px solid black; 
    min-width: 130px; /* Minimum width */
    padding: 5px 5px; 
    text-align: left; 
    cursor: pointer; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    border-radius: 5px;
}



.dropdown-content {
    display: none; 
    position: absolute; 
    background-color: #f9f9f9; 
    min-width: 130px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
    border-radius: 8px; 
    border: 1px solid #ccc; 
    padding-bottom: 5px;
    border: 2px solid rgba(121, 200, 163, 0.4);
}

.dropdown-content.show {
    display: block;
}

.dropdown-content label {
    display: flex; 
    align-items: center;
    cursor: pointer; 
    font-size: 11px;
    font-family: Lato-Regular;
}

.dropdown-content label:hover {
    background-color: #ddd; 
}

.dropdown-content input[type="checkbox"] {
    width: 25px; 
    height: 25px; 
    margin-right: 5px; 
    transform: scale(0.7); 
    transform-origin: center; 
}

#departments input[type="checkbox"],
#locations input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;
    border: 1px solid #79C8A3;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

#departments input[type="checkbox"]:checked::after,
#locations input[type="checkbox"]:checked::after {
    content: '✓';                    
    color: #309C68;                   
    font-size: 16px;                
    position: absolute;              
    top: 0;                          
    left: 2px;                       
}

.rowBgDarkGreen {
    background-color: white;
    color: black;
    font-size: 18px;
}

.rowBgLightGreen {
    background-color: #79C8A3; 
    color: black;
    font-size: 18px;
}

.noBorder {
    border: none !important;
}

.teamsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 400px; 
    overflow-y: auto;
    background-color: none;
    border-radius: 0px;
    margin: 20px;
}

.team {
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 15%; 
    margin: 10px; 
    font-family: Lato-Regular;
}

.teamHeader {
    background-color: #79C8A3;
    color: white;
    font-family: Lato-Bold;
    margin: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
    text-align: center;
}



.namesDiv {
    padding: 20px;
}
.namesDiv p {
    font-size: 15px;
}
.downloadButton {
    background-color: #BA2C8E; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    font-family: Lato-Bold;
    text-decoration: none; 
    display: inline-block; 
    font-size: 18px; 
    margin: 4px 10px; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

.downloadButton:hover {
    background-color: #7a1d5d; 
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 30px;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: none;
    position: relative;
}

.modal-content h2 {
    text-align: center;
    font-size: 24px;
    color: #79C8A3;
    font-weight: 600;
    margin-bottom: 15px;
}

.modal-content input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#unpairedList {
    max-height: 300px;
    overflow-y: auto;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.unpaired-intern {
    color: black;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.unpaired-intern:hover {
    color: #79C8A3;
}

.add-button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    color:#309C68
}

.add-button:hover {
    color: black;
}

.remove-button {
    background-color: transparent;
    border-color:#309C68;
    border-radius: 15px;
    color: black;
}

.remove-button:hover {
    border-color:#d12d9d
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.resetAndSave{
    padding: 10px;
    font-family: Lato-Bold;
}

.resetAndAccContainerStyle{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .bizzNESTHeader {
        font-size: 36px;
        margin-top: 50px;
    }

    .bizzNESTSubText {
        font-size: 16px;
        margin: 0px 6px;
    }

    .buttonMainStyle {
        padding: 20px 40px;
        font-size: 20px;
    }

    .modalComponent {
        width: 90%;
        padding: 20px;
    }

    .topTextHeader {
        font-size: 32px;
    }
    .bizzNESTLogoStyle img {
        max-width: 60%; 
    }

    .topTextHeader {
        font-size: 32px; 
    }

    .subtext {
        font-size: 14px; 
    }
    .filterContainer1 {
        flex-direction: column; 
        align-items: stretch; 
    }

    .searchbox-container {
        width: 97%; 
        margin-top: 0; 
    }

    .dropdown {
        width: 100%; 
        margin-top: 0; 
    }

    .dropdown button {
        width: 100%;
    }

}

@media (max-width: 480px) {
    .bizzNESTHeader {
        font-size: 28px;
        margin: 30px;
    }

    .bizzNESTSubText {
        font-size: 14px;
        margin: 0px 6px;
    }

    .buttonMainStyle {
        padding: 15px 30px;
        font-size: 18px;
    }

    .modalComponent {
        width: 95%;
        padding: 15px;
    }

    .topTextHeader {
        font-size: 24px;
    }

    .footerContainer {
        padding: 15px 20px;
    }
    .footerText {
        font-size: 10px;
        margin-bottom: 0;
    }
    .footerLogo {
        height: 25px;
    }

    .bizzNESTLogoStyle img {
        max-width: 50%; 
    }
    .modalComponent {
        width: 95%; 
        padding: 15px; 
    }

    .topTextHeader {
        font-size: 24px; 
    }

    .subtext {
        font-size: 12px; 
    }
    .dropdown {
        width: 100%; 
        margin-top: 0; 
    }

    .dropdown button {
        width: 100%;
    }
    .searchbox-container {
        width: 95%; 
        margin: 0;
    }

    .checkboxDiv {
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        gap: 10px;
    }

    
    .checkboxContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px; 
        width: 100%;
        font-size: 15px;
    }
    
    .switch {
        max-width: 37px;
        height: 19px;
        width: 100%;
    }
    .saveButtonStyle {
        padding: 10px 40px;
    }
}

@media (max-width: 375px) {
    .selectandDeselect{
        max-width: 55%;
    }

    tbody td {
        font-size: 11px;
        padding: 5px;
        border: 1px solid #79C8A3;
    }
    
}

@media (max-width: 344px) {
    tbody td {
        padding: 0px;
        border: 1px solid #79C8A3;
    }
    .saveButtonStyle{
        padding: 10px 20px;
    }
    .paginationContainer{
        padding-left: 60px;
    }
}
@media (min-width: 1000px) {
    .buttonContainer {
        margin-top: 20px;
    }
    .bizzNESTHeader {
        margin-top: 50px;
    }
}

@media (max-width: 915px) and (max-height: 412px) {
    .bizzNESTHeader {
        font-size: 24px; 
        margin-top: 30px; 
    }

    .bizzNESTSubText {
        font-size: 12px; 
        margin: 0 6px; 
    }

    .buttonMainStyle {
        padding: 10px 20px; 
        font-size: 16px; 
    }

    .modalComponent {
        width: 90%;
        padding: 15px; 
    }

    .topTextHeader {
        font-size: 20px; 
        line-height: 1.5; 
    }

    .footerContainer {
        flex-direction: column; 
        align-items: center; 
        padding: 10px; 
        border-top: 1px solid #ccc; 
        margin-top: 20px; 
    }

    .footerTextContainer {
        text-align: center; 
    }

    .footerText {
        font-size: 12px; 
        margin-bottom: 0; 
    }

    .searchbox-container {
        width: 90%; 
        margin: 0; 
    }

    .paginationContainer {
        padding-left: 20px; 
    }

    .checkboxContainer {
        flex-direction: column; 
        align-items: center; 
        font-size: 12px; 
    }

    .buttonSelectStyle,
    .buttonDeselectStyle {
        font-size: 12px; 
        width: 100%; 
    }
    .buttonContainer {
        margin-top: 10px;
    }
    .bizzNESTLogoStyle {
        padding-top: 50px;
    }
    .footerContainer {
        display: none;
    }
    
}

@media (max-width: 412px) {
    tbody td {
        font-size: 14px;
    }
}